Django>=3.5,<4.0
psycopg2-binary
gunicorn
django-redis-cache
hiredis
# Makes debugging much easier ... 
django-extensions
Werkzeug	# !BUILD-STRIP
django-debug-toolbar	# !BUILD-STRIP
# Used for testing
coverage	# !BUILD-STRIP
pylint		# !BUILD-STRIP
